   /* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .search-bar {
    padding: 10px;
    width: 300px;
    margin-top: 50px;
    align-items: center;

  }
  
  .profile-pic {
    border-radius: 50%;
  }
   */